*{
    padding: 0;
    margin: 0;
}
h2{
    color: #432323; 
    padding-left: 2em;
    padding-right: 2em;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #E6CFA9;
}
.container{
    background-color: #F9F8F6;
    padding:2em;
    border-radius: 1rem;
    min-height: 45vh;
    min-width: 20vw;
}
form{
    padding: 1em;
}
form select,input,button{
    width: 100%;
    height: 1.5rem;
    border-width: 1px;
    border-radius: 0.3rem;
    outline: none;
    background-color: #F9F8F6;
}
input:focus{
  border: 1px solid #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}
select:focus {
  border: 1px solid #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
form button{
    font-size: 1rem;
    height: 2.5rem;
    border: 0;
    background-color: rgba(175, 141, 141, 0.792);
    cursor: pointer;
}
form select{
    height: 2rem;
    border: none;
    width: 70%;
}
form input{
    border:1px solid #563737;
    font-size: 0.9rem;
    height: 3rem;
    padding-left: 1rem;
    position: relative;
    right:0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem; 
}
.msg{
    margin: 1.5rem 0 1.5rem 0;
    font-size: 1.1rem;
}
.msg span{
    font-weight: bold;
}
img{
    max-width: 2.5rem;
}
i{
    font-size: 1.1rem;
    position: relative;
    top: 0.55rem;
}
.select-container{
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #563737;
    border-radius: 0.5rem;
    padding: 0.2rem;
}
